body{
    font-family: 'Calibri';
}
input[type="submit"] {  
    width: auto;  
    height:auto;  
    position: relative;left: 100px;  
    background-color: rgba(9, 101, 239, 0.77);
    border-radius: 4px;
}  
input[type="reset"] {  
    width: auto;  
    height:auto;  
    position: relative;left: 100px;  
    background-color: red;
    border-radius: 4px;
}  
header {
    background-color: rgb(90, 207, 116);
   display: flex;
    color: white;
    justify-items: center;
    justify-content: center;
    font-size: 50px;
    height: 50px;
}
footer {
    background-color: rgb(90, 207, 116);
    display: flex;
position:absolute;
bottom:0;
width:100%; 
height:25px;   /* Height of the footer */
justify-content: center;
justify-items: center;
}
form{  
    text-align: center;  
    font-family: Calibri;  
    font-size: 20px;  
    border: 3px solid black;  
    width: 600px;  
    margin: 20px auto;  
    border-radius: 10px;
}  